@import '../../styles/index';

.custom-select {
  display: flex;
  position: relative;
  .custom-select-button {
    cursor: pointer;
  }
  .custom-select-label {
    margin-right: 0.25em;
  }
  .custom-select-dropdown {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 100%;
    max-height: 16em;
    overflow: auto;
    transform: translateY(100%);
    padding: 0.25em 0;
    margin-bottom: 0;
    list-style-type: none;
    background-color: $secondary;
    border-radius: 0.5em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease;
    &.open {
      visibility: visible;
      opacity: 1;
    }
  }
  .custom-select-option {
    position: relative;
    padding: 0.25em 0.75em;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $primary;
      opacity: 0;
      z-index: -1;
      transition: opacity 0.15s ease;
    }
    &:hover::before {
      opacity: 1;
    }
  }
}
