@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

svg {
  overflow: visible;
}

body {
  font-family: 'Nunito', 'Helvetica', sans-serif;
  color: $white;
  background-color: black;
  background: $background url('../assets/images/background.jpg') no-repeat fixed
    center;
  background-size: cover;
}

a {
  color: $primary;
  text-decoration: none;
  transition: text-shadow 0.3s ease;
  &:hover {
    text-shadow: 0 0 1rem $primary;
  }
}

.alert {
  text-align: center;
}
