$primary: #299da1;
$secondary: #272727;
$background: #082e39;
$white: #ffffff;
$black: #000000;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1460px,
  xxxl: 1700px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px,
  xxxl: 1640px,
);
