@import '../../../styles/variables';
@import '../../../styles/functions';

.exchange-rate-card {
  $self: &;
  --color-scheme: #{$primary};
  position: relative;
  padding: toEm(24);
  border: toEm(3) solid var(--color-scheme);
  border-radius: toEm(16);
  box-shadow: 0 toEm(3) toEm(6) var(--color-scheme);
  min-width: 0;
  transition: 0.3s ease;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-scheme);
    opacity: 0.2;
    z-index: -1;
  }
  &--favorite {
    --color-scheme: #ee456f;
  }
  &--skeleton {
    $placeholder-color: transparentize($white, 0.75);
    #{$self}__title,
    #{$self}__value {
      height: 1.3em;
      background: $placeholder-color;
    }
    #{$self}__title {
      width: min(14ch, 100%);
    }
    #{$self}__info--rate {
      #{$self}__value {
        width: 6ch;
      }
    }
  }
  &__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
  }
  &__title {
    font-size: toEm(24);
    margin: 0.085em 0 0;
  }
  &__content {
    display: flex;
  }
  &__info {
    &--symbol {
      width: 4em;
    }
    &--rate {
      flex: 1;
    }
    & + & {
      margin-left: 1em;
    }
  }
  &__value {
    width: 100%;
    font-size: toEm(24);
    padding: 0;
    border: none;
    background-color: transparent;
    color: $white;
    &:focus-visible {
      outline: none;
    }
  }
}
