@import '../../styles/variables.scss';

.main-footer {
  margin: auto 0 1.5rem;
  &__wrapper {
    max-width: 37ch;
    margin: 0 auto;
    text-align: center;
    padding: 0.75em 1.5em;
    border-radius: 50rem;
    background-color: transparentize($white, 0.8);
    svg {
      fill: $white;
      vertical-align: middle;
      width: 1.25em;
      margin: 0 0.33em;
    }
  }
}
