@import '../../../styles/mixins.scss';

.exchange-rate-cards {
  display: grid;
  gap: 2em;
  @include breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint-up(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include breakpoint-up(xxxl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
